name: CD
on:
  push:
    branches:
      - main

jobs:
  semver:
    name: release new version
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_AUTOMATION_TOKEN }} 

      - name: semver
        # this must target main or a valid branch in the cangulo-actions/semver repo
        uses: cangulo-actions/semver@HEAD
        id: semver
        with:
          create-gh-release: true
          print-summary: true
      - name: print semver output
        env:
          CHANGES: ${{ steps.semver.outputs.changes }}
          CHANGELOG_RECORD: ${{ steps.semver.outputs.changelog-record }}
          SCOPES: ${{ steps.semver.outputs.scopes }}
        run: |
          echo "version: ${{ steps.semver.outputs.version }}"
          echo "release-title: ${{ steps.semver.outputs.release-title }}"
          echo "release-type: ${{ steps.semver.outputs.release-type }}"

          echo "changes:"
          echo "$CHANGES" | jq .

          echo "changes-log:"
          echo "$CHANGELOG_RECORD"

          echo "scopes:"
          echo "$SCOPES" | jq .

# refresh 2023-11-27